<div class="container" style="margin-top: 20px">
    <div id="alertBox" class="row alert alert-dismissable fade in out">
        <a href="#" id="alertBoxClose" class="close" aria-label="close">&times;</a>
        <span id="alertMessage"></span>
    </div>
    <p>
    <div class="row" id="mainDatabaseView">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class='btn-toolbar'>
                    <div class="pull-left btn">Select database</div>
                    <div class='btn-group'>
                        <button id="main" type='button' class='btn btn-primary viewSwitch'>Main</button>
                        <button id="preset" type='button' class='btn viewSwitch'>Presets</button>
                    </div>
                </div>
                <p></p>
                <div class="form-inline">
                    <button id="refreshRadio" class="btn btn-sm">Refresh</button>
                    <button id="addRadio" class="btn btn-sm">Add</button>
                    <button id="searchRadio" class="btn btn-sm">Search</button>
                    <select class="form-control form-control-sm" id="searchIsEnable">
                        <option value="-1">(All)</option>
                        <option value="1">Enabled</option>
                        <option value="0">Disabled</option>
                    </select>
                    <select class="form-control form-control-sm" id="searchIsOnline">
                        <option value="-1">(All)</option>
                        <option value="1">Online</option>
                        <option value="0">Offline</option>
                    </select>
                    <input type="text" id="searchInput" placeholder="Enter search keyword"/>
                    <button id="searchClear" class="btn btn-sm">Clear</button>
                    <span>Current filter: </span>&nbsp;<h4 style="display:inline-block"><span id="searchKeyword" class="label label-default"></span></h4>
                    <span id="radioPaginator" class="pull-right"></span>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">Bulk operation
                <div class="form-inline">
                    <label class="control-label">Disable all Offline with count &gt;=</label>
                    <input type="text" id="disableOfflineCount" class="form-control">
                    <button id="disableOffline" class="btn btn-sm">Execute</button>
                </div>
            </div>
        </div>
        <div id="radioList"></div>
    </div>
    <div class="row" id="presetView">
        <div id="presetList"></div>
    </div>
    <div id="modalContainer"></div>
    <nav id="playerBar" class="navbar navbar-inverse navbar-fixed-bottom ">
        <div class="container-fluid">
            <div class="navbar-brand">
                Playing
            </div>
            <div id="playerBarName" class="navbar-brand">
            </div>
            <div class="navbar-brand">
                <video controls id="player" src="http://stm1.rthk.hk/radio1" width="200" height="25"></video>
            </div>
            <div class="nav navbar-brand navbar-right">
                <button id="stopRadio">Stop</button>
            </div>
        </div>
    </nav>
</div>