<div class="row" id="mainDatabaseView">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='btn-toolbar'>
                <div class="pull-left btn">Select database</div>
                <div class='btn-group'>
                    <button id="main" type='button' class='btn btn-primary viewSwitch'>Main</button>
                    <button id="preset" type='button' class='btn viewSwitch'>Presets</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(models, function(entry){ %>
    <% console.log(entry); %>
    <tr>
        <td><%= _.escape(entry.attributes.name) %></td>
        <td><%= _.escape(entry.attributes.url) %></td>
        <td><a href="#" id="<%= entry.attributes.id %>" class="editPreset"><img src="img/edit.png"></a>
            <a href="#" data-name="<%= _.escape(entry.attributes.name) %>" data-url="<%= _.escape(entry.attributes.url) %>" class="playRadio"><img src="img/play.png"></a>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>