<table class="table">
    <thead>
    <tr>
        <th>Country</th>
        <th>City</th>
        <th>Station Name<br/>URL</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(models, function(entry){ %>
    <tr>
        <td><%= _.escape(entry.attributes.myCountry) %></td>
        <td><%= _.escape(entry.attributes.myCity) %></td>
        <td><div><%= _.escape(entry.attributes.radioName) %></div>
            <div><%= _.escape(entry.attributes.radioURL) %></div>
        </td>
        <td><% if (_.escape(entry.attributes.offlineCount) > 0) { %>
            <span class="label label-danger">Offline (<%= _.escape(entry.attributes.offlineCount) %>)</span>
            <% } else { %>
            <span class="label label-success">Online</span>
            <% } %>
        </td>
        <td><a href="#" id="<%= entry.attributes.myID %>" class="toggleRadio"><img src="img/<%= _.escape(entry.attributes.isEnable) == 1 ? 'tick.png' : 'cross.png' %>"></a>
            <a href="#" id="<%= entry.attributes.myID %>" class="editRadio"><img src="img/edit.png"></a>
            <a href="#" data-name="<%= _.escape(entry.attributes.radioName) %>" data-url="<%= _.escape(entry.attributes.radioURL) %>" class="playRadio"><img src="img/play.png"></a>
            <a href="#" id="<%= entry.attributes.myID %>" class="deleteRadio"><img src="img/delete.png"></a>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>